.hamburger_mobile {
    cursor: pointer;
    transition: .5s ease-in;
    z-index: 100;

    div {
        width: 25px;
        height: 3px;
        border-radius: 8px;
        background-color: #D81770;
        margin: 5px;
    }
}

.is_active {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: .5s ease-in;
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        transition: .5s ease-in;
    }

}

.hide_mobile-menu {
    width: 0;
    height: 100%;
    transform: translateX(100%);
    background-color: #ffffff;
}