.breadcrumb {
    display: flex;
    flex-wrap:wrap;
    padding: 1em 0;

    li {
        &:after {
            content: '/';
            display: inline-block;
            margin: 0 1.5em;
        }

        &:last-child {
            a {
                color:var(--color-accent-light);
                font-weight: bold;
            }
            &:after {
                display: none;
            }
        }
    }
}